html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    background-color:#616161;
    line-height: 1.4;
    font-family: Montserrat, Avenir, Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

header, footer, section {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: white;
}

section {
    border-radius: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    color: #616161;
    font-size: 80px;
    line-height: 1.1;
    margin-top: 80px;
}

h2 {
    font-size: 40px;
    color: white;
    line-height: 1.1;
}

h3 {
    font-size: 25px;
    color: #616161;
    line-height: 1;
}

#foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#foto-box {
    width: 450px;
    height: 290px;
    padding: 20px 20px 20px 180px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #FFC233;
    border-radius: 0 145px 145px 0;
    float: left;
}

#kontakty {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #FF5348;
    margin-bottom: 20px;
    border-radius: 0 0 20px 20px;
}

.ikona {
    width: 23px;
    margin-right: 5px;
    float: left;
}

#email {
    color:black;
    transition: color 0.5s;
    font-style: normal;
}

#email:hover {
    color: white;
}

.socky {
    background-color: #face68;
    color: black;
    padding: 4px 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;
}

.socky:hover {
    background-color: #FFC233;
    color: white;
}

#o-mne {
    padding: 10px 30px;
    font-style: italic;
}

#duraz-soc {
    color: #FF5348;
}

#duraz-web {
    color: #FFC233;
}

table {
    border-spacing: 0;
}

td {
    width: 50%;
}

#nadpis-soc {
    background-color: #FF5348;
    border-radius: 0 0 50px 0;
    border-right: 10px solid white;
    padding: 0 30px;
}

#nadpis-web {
    background-color: #FFC233;
    border-radius: 0 0 0 50px;
    border-left: 10px solid white;
    padding: 0 30px;
}

.bunka-soc, .bunka-web {
    padding: 5px 30px;
    vertical-align: top;
}

.bunka-soc {
    background-color: #FF5348;
    border-radius: 0 50px 50px 0;
    border-right: 10px solid white;
}

.bunka-web {
    background-color: #FFC233;
    border-radius: 50px 0 0 50px;
    border-left: 10px solid white;
}

.pozice, .pozice-odkaz {
    font-style: italic;
    color: white;
    font-size: 14px;
    margin-left: 20px;
}

.pozice {
    margin-top: -13px;
}

.pozice-odkaz {
    margin-top: -10px;
}

.odk-ziv {
    background-color: #fd7167;
    color: black;
    padding: 3px 10px;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-style: normal;
    transition: color 0.5s, background-color 0.5s;
}

.odk-ziv:hover {
    background-color: #FF5348;
    color: white;
}

#dov-soc {
    border-bottom-right-radius: 0;
}

#dov-web {
    border-bottom-left-radius: 0;
}